/*  цвет основного текста #212121 */
/* Вторичный цвет текста  #757575 */
/* Белый #FFFFFF */
/* Акцент #2196F3;
 */
/* Вторичный цвет фона #E5E5E5 */
/* Третичный цвет фона #2F303A */

/* Portfolio.html 
Фильтр background: #F5F4FA;

*/

:root { 
  --main-text: #212121;
  --second-text: #757575;
  --third-text: #FFFFFF; 

  --main-background: #FFFFFF; 
  --second-background:#E5E5E5; 
  --third-background:#2F303A; 

  --accent:#2196F3;

  --portfolio-filter:#F5F4FA;

  
  ; 
}

.visibility {
  visibility: hidden;
  margin: 0;
  font-size: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}


body {
  background-color: var(--main-background);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--main-text);

  text-align: left;
  letter-spacing: 0.03em;
  margin: 0;
}




/* -----------------Стилизация списков------------------------ */
.list { 
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

/* Убирает подчеркивание ссылок */
.nav .header-logo,
.list .header-link, 
.list .header-contacts-link,
.list .footer-link, 
.footer-logo {
  text-decoration: none; 
}



/* -----------------------Хедер------------------------------- */
/*----------------------- Стилизация лого ---------------------*/
.header { 
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
  
}

.logo { 
  margin-right: 50px;
}

.header-logo { 
  text-decoration: none;
 
  /* padding-top: 24px;
  padding-bottom: 25px; */

  color: var(--main-text);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}


.footer-logo {
  color: var(--third-text);
}

.header-logo .header-web,
.footer-logo .footer-web {
  color: var(--accent);
}





/* --------------------Стилизация навигации------------------- */
.header-link,
.header-contacts-link { 
  color: var(--main-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

}

.header-link.now { 
  color: var(--accent);
}

.header-link:hover,
.header-link:focus,
.header-contacts-link:hover, 
.header-contacts-link:focus { 
  color: var(--accent); 
}

.header-list-navigation, 
.header-contacts-list { 
  display: flex;
  margin: 0;
  padding: 0 ;
}


/* .header-list-navigation>.header-item:not(:last-child) ,
.header-contacts-list>.header-item:not(:last-child) {
  margin-right: 50px;
} */
.header-list-navigation .header-item +.header-item,
.header-contacts-list .header-item + .header-item { 
  margin-left: 50px;
}

.header-box-right { 
  margin-left: auto;
}

.header-link, .header-contacts-link { 
  display: block;
  padding-top: 32px;
  padding-bottom: 32px; 
}

/*----------------------------- Футер------------------------ */
.footer { 
  background-color: var(--third-background);
}
.footer-logo { 
  display: inline-block;
  padding: 60px 0px 20px 0px;
}

.footer-list {
  padding-bottom: 60px;
}

.footer-list .footer-link { 
  color: rgba(255,255,255,0.6) ;
}

.footer .address { 
  color: var(--third-text);
}



/* -------------------------Герой--------------------------- */
.hero { 
  color: var(--third-text);
  background-color: var(--third-background);
  text-align: center;
  
}
.hero-title { 
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
}

.hero-button { 
  color: var(--third-text);
  background-color: var(--accent);
  cursor: pointer;


  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  margin-bottom: 200px;
}


/* -----------Стилизация заголовков секций h2 ----------------*/
.section-title { 
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--main-text);
  
  margin-top: 0;
  margin-bottom: 50px;
}

/* --------------------Особенности---------------- */
.feature-list { 
  display: flex;

  margin: 0;
  padding-top: 94px;

}

.feature-item { 
  padding-bottom: 94px;
  
}
.feature-item + .feature-item {
  margin-left: 30px;
}

.feature-title { 
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  margin: 0 0 10px 0;
}

.feature-text {
  color: var(--second-text);
  font-size: 14px;
  line-height: 1.71;

 }

 /* ----------------------Чем мы занимаемся------------------- */
 .about-list { 
   display: flex;

   margin: 0;
   padding-bottom: 94px;
 }
 .about-item + .about-item {
   margin-left: 30px;
 }


 /* --------------------------Наша команда-------------- */
.team-pretitle { 
  padding-top: 94px;
  margin-bottom: 50px;
}

 .team { 
   background-color: var(--second-background);
 }

 .team-list {
   display: flex;

   padding-bottom: 94px;
 }

.team-item {
   background-color: var(--main-background);
 } 
.team-item + .team-item { 
  margin-left: 30px;
}

 .team-title { 
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;

  margin: 0 0 10px 0;
 }

 .team-text { 
  color: var(--second-text);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  padding: 0 0 30px 0;
  margin: 0;
 }

 .team-picture { 
   margin: 0 0 30px 0;
 }


/*-------------- Portfolio.html Стилизация фильтра------------ */

.filter-list { 
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  
}


.filter-item + .filter-item {
  margin-left: 8px; 
}

.list .filter-btn:hover, .list .filter-btn:focus { 
  background-color: var(--accent);
}

.list .filter-btn{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;

  cursor:pointer; 
}


/*---------------------------- Стилизация портфолио---------- */
.main-portfolio { 
  margin-top: 94px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 94px;
}

.portfolio-item:not(:nth-child(3n+1)) { 
  margin-left: 30px;
  background-color: teal;
}

.portfolio-item { 
  margin-bottom: 30px;
}

.portfolio-item:nth-last-child(-n+3) { 
  margin-bottom: 0;
}


/* .portfolio-item:nth-last-child(-n+3) { 
  margin-bottom: 94px;
} */


.portfolio-link {
  display: inline-block;
  text-decoration: none;
  color: var(--main-text);
}

.portfolio-img {
  display: inline-block;
  margin: 0 0 20px 0;
  padding: 0;
}

.portfolio-title{
font-size: 18px;
font-weight: 700;
line-height: 2;
text-align: left;

margin: 0;

}

.portfolio-text { 
  color: var(--second-text);
  font-size: 16px;
  line-height: 1.87;
  text-align: left;

  margin: 0;
}




/* -----------------Геометрия и позиционирование-------------- */

/*----------------- Глобальный сброс стилей------------------- */

/* h1,h2,h3,h4,h5,h6,ul,li,p   */
/* ul {
  padding: 0;
  margin: 0;
} */







